/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body{
    background-color: #540B51;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.nav-container img{
    width: 20%;
}
.nav-container ul{
    display: none;
}
.button-container{
    display: flex;
}
.button-container button{ 
    background-color: transparent;
}
header{
    display: flex;
    flex-direction: column;
    background-color: #540B51;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.header-info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-info p{
    color: white;
}

.header-info h1{
    padding:0 30px;
    color:white;
}
.signup-info{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    flex-direction: column;
}
.signup-info img{
    width: 10%;
}
.signup-info button{
    display: block;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    padding: 0 20px; 

}
.google-button{
    background-color: #4285F4;
    display: flex;
    justify-content: space-between;
}
.google-button span{
    color: white;
}
.hero-product img{
    padding:20px;
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.companies-logo-container{
    padding: 70px;
    background-color: #F3EAE2;
    align-items: center;
    justify-content: center;
}
.companies-logo-container img{
    width:20%;
    height:40%;
}
.companies-logo-container p{
    font-weight: bold;
    text-align: center;
}
.companies-logo-container div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.percentage-info{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.percentage-info h3{
    width: 50%;
    text-align: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 24px;
    color: #540B51 ;
    align-items: center;
    justify-content: center;
}
.small-p{
    width: 70%;
    text-align: center;
    flex-wrap: wrap;        
    font-size: 16px;
    font-weight:  bold;
}
.percentage-info ul{

    padding: 0 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.percentage-info li{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.percentage-info span{
    font-size: 48px;
    text-align: center;
    color: #540B51;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.percentage-info p{
    flex-wrap: wrap;
    width: 40%;
    font-size: 20px;
    font-weight: bold;
}
.main-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-footer h3{
    font-size: 30px;
    color: white;
}
.main-footer button{
    width: 60%;
    height: 3em;

}
footer{
    background-color: white;
}
footer ul{
    list-style-type: none;
}
footer li{
    font-weight: bold;
}
.icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px)  {
    header{
        flex-direction: row;
    }
    .companies-logo-container img{
        width: 15%;
    }
    .percentage-info ul{
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .main-footer button{
        width: 100%;
    }
    footer ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}